@font-face {
    font-family: 'megaicons';
    src: url('/css/megaicons.woff');
}
@font-face {
    font-family: 'roboto';
    src: url('/css/roboto-v15-latin_cyrillic-300.woff2');
    font-weight: 300;
}
@font-face {
    font-family: 'roboto';
    src: url('/css/roboto-v15-latin_cyrillic-regular.woff');
}

@keyframes fade-in { 0% { opacity: 0.1; } 100% { opacity: 1; } }
@-khtml-keyframes fade-in { 0% { opacity: 0.1; } 100% { opacity: 1; } }
@-moz-keyframes fade-in { 0% { opacity: 0.1; } 100% { opacity: 1; } }
@-ms-keyframes fade-in { 0% { opacity: 0.1; } 100% { opacity: 1; } }
@-o-keyframes fade-in { 0% { opacity: 0.1; } 100% { opacity: 1; } }
@-webkit-keyframes fade-in { 0% { opacity: 0.1; } 100% { opacity: 1; } }

html *:not(.tox) {
    transition: 0.5s ease-in-out;
    font-family: Roboto;
}
body:not(.tox) {
    animation: fade-in 0.5s linear;
    -moz-animation: fade-in 0.5s linear;
    -o-animation: fade-in 0.5s linear;
    -webkit-animation: fade-in 0.5s linear;
}

.grid-items > * {
    margin: 0.5px;
    padding: 0.3em;
    font-size: 14px;
}
.grid-items > * a {
    text-decoration: none;
    font-size: 16px;
}
.grid-item {
    transition: 0.2s ease-out;
    border: 1px #ccc solid;
    margin: -1px;
    z-index: 9;
}
.grid-item span {
    padding: 0.5em;
    display: block;
}
.grid-item:hover {
    box-shadow: 0 0 2px 2px #ccc;
    transition: 0.2s ease-out;
    z-index: 99;
}
.item-new {
    background-color: #fff;
    cursor: pointer;
}
.item-new:hover {
    background-color: #afa;
}
.item-new img {
    width: 90px;
    height: 90px;
    margin: calc(50% - 45px);
}

html, body {
    background-color: #ddd;
    margin: 0;
    padding: 0;
    height: 100%;
}
a {
    /*color: #0069d9;*/
    color: #555;
    text-decoration-line: underline;
}
img {
    max-height: 100%;
    max-width: 100%;
}
p {
    margin-top: 1em;
}

.container {
    padding: 0;
    margin: 0 auto;
    color: #555;
    max-width: 100%;
}
.container > * {
    margin: 1em 0;
}
.section {
    padding: 1em;
}
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
header > * {
    padding: 1em;
    min-width: 32px;
    box-sizing: content-box;
}
.logo {
    min-width: 150px;
    overflow: hidden;
}
.logo img {
    min-width: 150px;
    width: 150px;
    height: 28px;
}
.phone {
    color: #00975e;
    font-family: "roboto";
    font-weight: 100;
    min-width: 228px;
}
.phone > span {
    font-size: 28px;
}
.search {
    width: available;
    width: -moz-available;
    width: -webkit-fill-available;
    text-align: right;
    cursor: pointer;
}
.search > form {
    display: inline-block;
    width: calc(100% - 2em - 24px);
    height: 100%;
    margin: 0;
    padding: 0;
    float: left;
}
.search input[type=text] {
    border: none;
    border-bottom: 1px grey solid;
    font-size: 16px;
    width: 100%;
    height: calc(100% - 0em);
    margin: 0;
    padding: 0;
}
.cart {
    cursor: pointer;
}
.page_header {
    padding: 0.2em 0.2em;
    color: #00975e;
    width: calc(100% - 0.0em);
    margin-bottom: -1px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer {
    color: #555;
    border-top: 1px solid grey;
}
footer > .grid > * { margin: 0.2em; }

.banner-wrapper {
    display: grid;
    grid-template-columns: calc(75% + 1em) calc(25% - 1em);
}
.right-banner1 img {
    max-width: 100%;
}
.slider-wrapper {
    max-width: calc(100% - 1em);
}

.nav-item:hover {
    background-color: #00975e;
}

#chats .chat, .b-white .chat {
    position: static;
    width: auto;
    height: auto;
    right: 0;
    max-width: none;
    z-index: 0;
}
.b-white .chat {
    width: 100%;
    max-height: 700px;
    position: absolute;
    height: 100%;
}
.b-white .chat .modal-dialog {
    margin: 0;
    max-width: 100%;
}
.chat {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 500px;
    height: 700px;
    margin: 0;
    max-width: calc(100% - 40px);
    z-index: 999;
    max-height: 90%;
}
.chat > .modal-dialog {
    height: 100%;
    margin: calc(700px - 63px) 0 0 0;
}
.chat .modal-content {
    height: 100%;
}
.chat .modal-header {
    cursor: pointer;
}
.chat .modal-body {
    overflow: auto;
}
.chat .modal-body p {
    padding: 0.5em;
    margin: 0 0 0.5em 0;
}

@media (min-width: 1300px){
    .container {
        width: 1300px;
    }
    .mobile-hidden {
        display: block !important;
    }
    .logo.d-none {
        display: block;
    }
}
@media (max-width: 1299px){
    .container {
        max-width: calc(100% - 0em);
        margin: 0;
        padding: 1em;
    }
    .container > * {
        margin: 0 0 0.5em 0;
    }
    .mobile-hidden {
        display: none;
    }
    .banner-wrapper {
        grid-template-columns: 1fr;
    }
    #block-for-slider {
        width: 100%;
        max-width: 100%;
    }
    .slider-wrapper {
        width: 100%;
        max-width: 100%;
        height: auto;
    }
}
@media (min-width: 200px) and (max-width: 399px){
    .grid {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media (min-width: 400px) and (max-width: 599px){
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 600px) and (max-width: 799px){
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 800px) and (max-width: 999px){
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 1000px) and (max-width: 1199px){
    .grid {
        grid-template-columns: repeat(5, 1fr);
    }
}
@media (min-width: 1200px){
    .grid {
        grid-template-columns: repeat(6, 1fr);
    }
}
